@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,900,400italic,300italic);
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.highlight {
  background: #ffffff; }

.highlight .c {
  color: #999988;
  font-style: italic; }

.highlight .err {
  color: #a61717;
  background-color: #e3d2d2; }

.highlight .k {
  font-weight: bold; }

.highlight .o {
  font-weight: bold; }

.highlight .cm {
  color: #999988;
  font-style: italic; }

.highlight .cp {
  color: #999999;
  font-weight: bold; }

.highlight .c1 {
  color: #999988;
  font-style: italic; }

.highlight .cs {
  color: #999999;
  font-weight: bold;
  font-style: italic; }

.highlight .gd {
  color: #000000;
  background-color: #ffdddd; }

.highlight .gd .x {
  color: #000000;
  background-color: #ffaaaa; }

.highlight .ge {
  font-style: italic; }

.highlight .gr {
  color: #aa0000; }

.highlight .gh {
  color: #999999; }

.highlight .gi {
  color: #000000;
  background-color: #ddffdd; }

.highlight .gi .x {
  color: #000000;
  background-color: #aaffaa; }

.highlight .go {
  color: #888888; }

.highlight .gp {
  color: #555555; }

.highlight .gs {
  font-weight: bold; }

.highlight .gu {
  color: #aaaaaa; }

.highlight .gt {
  color: #aa0000; }

.highlight .kc {
  font-weight: bold; }

.highlight .kd {
  font-weight: bold; }

.highlight .kp {
  font-weight: bold; }

.highlight .kr {
  font-weight: bold; }

.highlight .kt {
  color: #445588;
  font-weight: bold; }

.highlight .m {
  color: #009999; }

.highlight .s {
  color: #d14; }

.highlight .na {
  color: #008080; }

.highlight .nb {
  color: #0086B3; }

.highlight .nc {
  color: #445588;
  font-weight: bold; }

.highlight .no {
  color: #008080; }

.highlight .ni {
  color: #800080; }

.highlight .ne {
  color: #990000;
  font-weight: bold; }

.highlight .nf {
  color: #990000;
  font-weight: bold; }

.highlight .nn {
  color: #555555; }

.highlight .nt {
  color: #000080; }

.highlight .nv {
  color: #008080; }

.highlight .ow {
  font-weight: bold; }

.highlight .w {
  color: #bbbbbb; }

.highlight .mf {
  color: #009999; }

.highlight .mh {
  color: #009999; }

.highlight .mi {
  color: #009999; }

.highlight .mo {
  color: #009999; }

.highlight .sb {
  color: #d14; }

.highlight .sc {
  color: #d14; }

.highlight .sd {
  color: #d14; }

.highlight .s2 {
  color: #d14; }

.highlight .se {
  color: #d14; }

.highlight .sh {
  color: #d14; }

.highlight .si {
  color: #d14; }

.highlight .sx {
  color: #d14; }

.highlight .sr {
  color: #009926; }

.highlight .s1 {
  color: #d14; }

.highlight .ss {
  color: #990073; }

.highlight .bp {
  color: #999999; }

.highlight .vc {
  color: #008080; }

.highlight .vg {
  color: #008080; }

.highlight .vi {
  color: #008080; }

.highlight .il {
  color: #009999; }

a, a:visited {
  color: #9f2e59;
  text-decoration: none;
  transition: all 0.1s;
  border-bottom: 1px solid;
  border-color: transparent; }

a:hover {
  color: #c24678;
  transition: all 0.1s;
  border-color: #c24678; }

h1 {
  font-size: 50px; }

h2 {
  font-size: 40px; }

h3 {
  border-bottom: 1px solid #ccc;
  color: #9f2e59;
  font-size: 30px;
  margin: 50px 0 20px 0;
  padding-bottom: 10px; }

p, li {
  font-size: 22px;
  line-height: 1.4;
  margin: 15px 0; }

em {
  font-style: italic; }

strong {
  font-weight: 700; }

figcaption {
  color: #4d4d4d;
  font-size: 12px;
  font-style: italic; }

.l__wrap {
  margin: 0 auto;
  max-width: 800px;
  padding: 0 20px; }

.m-header {
  background: linear-gradient(to right, #7a2848 0%, #882e50 50%, #9f2e59 100%);
  color: #fff;
  padding-bottom: 100px; }
  .m-header h1 {
    font-size: 70px;
    font-weight: 900;
    text-shadow: 1px 1px 8px rgba(0, 0, 0, 0.3); }
    @media (max-width: 600px) {
      .m-header h1 {
        font-size: 40px; } }
  .m-header p {
    font-style: italic;
    font-weight: 300;
    margin-top: 10px;
    font-size: 25px; }
    @media (max-width: 600px) {
      .m-header p {
        font-size: 20px; } }
  @media (max-width: 600px) {
    .m-header {
      padding-bottom: 50px; } }
  .m-header__nav {
    padding: 20px 0 80px 20px; }
    .m-header__nav a {
      border-bottom: 1px solid;
      border-color: transparent;
      color: #fff;
      opacity: 0.7;
      padding: 10px;
      transition: border 0.1s; }
      .m-header__nav a:hover {
        border-color: #fff;
        opacity: 1;
        transition: border-color 0.2s; }
    @media (max-width: 600px) {
      .m-header__nav {
        text-align: center; } }

.m-footer {
  padding: 50px 0;
  text-align: center; }
  .m-footer p {
    font-size: 12px; }

.m-post-list__date {
  text-transform: uppercase;
  font-size: 10px;
  color: #7a2848; }
.m-post-list__title {
  font-size: 30px; }
.m-post-list__desc {
  font-style: italic;
  color: #4d4d4d;
  font-size: 16px; }
.m-post-list a {
  padding: 20px 0;
  display: block;
  transition: background 0.2s; }
  .m-post-list a:hover {
    transition: background 0.2s;
    background: #F9F8F8; }

.m-post {
  padding: 50px 10px; }
  .m-post li {
    list-style: disc inside;
    margin: 10px 0; }
  .m-post__date {
    font-style: italic;
    color: #4d4d4d;
    font-size: 15px; }
  .m-post img {
    margin: 20px 0 0 0; }

body {
  font-family: 'Source Sans Pro', sans-serif; }

iframe {
  margin: 20px auto !important;
  width: 100%; }

img {
  width: 100%; }
