---
layout: default
title: Writing
subtitle: 'All about code, design, and life'
page_type: 'writing'
---



<ul class="m-post-list">
  {% for post in site.categories.writing %}
    {% assign desc = post.desc %}
    {% unless desc %}{% assign desc = post.content | strip_html | truncatewords: 45 %}{% endunless %}
    {% if post.link %}
      <a target="_blank" href="{{ post.link }}">
    {% else %}
      <a href="{{ post.url }}">
    {% endif %}
      <li class="m-post-list__post l-wrap">
        <p class="m-post-list__date">{{ post.date | date: "%B %-d, %Y" }}</p>
        <h2 class="m-post-list__title">{{ post.title }}</h2>
        <p class="m-post-list__desc">{{ desc }}</p>
      </li>
    </a>
  {% endfor %}
</ul>
