.m-footer {
  background-color: $color-blue-dark;
  color: #fff;
  font-size: .8em;
  padding: $space-xlarge 0;
  text-align: center;
  p {
    margin: 0;
  }
  a {
    color: $color-hover;
    font-weight: 900;
    &:hover {
      color: $color-pink;
    }
  }
}
