.m-header {
  background: linear-gradient(to right,  #7a2848 0%,#882e50 50%,#9f2e59 100%);
  color: #fff;
  padding-bottom: 100px;
  h1 {
    font-size: 70px;
    font-weight: 900;
    @media(max-width: 600px) {
      font-size: 40px;
    }
  }
  p {
    font-style: italic;
    font-weight: 300;
    margin-top: 10px;
    font-size: 25px;
    @media(max-width: 600px) {
      font-size: 20px;
    }
  }
  @media(max-width: 600px) {
  padding-bottom: 50px;
  }
  &__nav {
    padding: 20px 0 80px 20px;
    a {
      border-bottom: 1px solid;
      border-color: transparent;
      color: #fff;
      opacity: .7;
      padding: 10px;
      transition: border .1s;
      &:hover {
        border-color: #fff;
        opacity: 1;
        transition: border-color .2s;
      }
    }
  }
}