.m-nav {
  border-top: 8px solid $color-main;
  margin-bottom: $space-large;
  text-align: right;
  li {
    display: inline-block;
  }
  a {
    color: $color-type;
    display: inline-block;
    font-size: .8em;
    letter-spacing: .2;
    padding: .5rem;
    text-transform: uppercase;
    transition: background-color 200ms;
    &:hover,
    &.current {
      background-color: $color-type;
      color: #fff;
      transition: background-color 200ms;
    }
  }
}
