.m-post {
  padding: 1.2em;
  .resume & {
    max-width: 950px;
  }
  ul {
    margin-bottom: 1.2em;
  }
  li {
    list-style: disc outside;
    margin: .5em;
  }
  &__date {
    color: lighten($color-type, 10%);
    font-size: .9em;
    line-height: 1;
  }
  img {
    margin: 1.2em 0 0;
  }
  a {
    border-bottom: 1px solid;
    border-color: transparent;
    transition: border 200ms;
    &:hover {
      border-color: $color-hover;
      transition: border 200ms;
    }
  }
  &__content {
    color: #333;
    .resume & {
      @media(min-width: $bp-sm) {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        div {
          flex-basis: 45%;
          margin-bottom: 1.5em;
        }
      }
    }
  }
}
