.m-post-list {
  margin: -2px 0 0;
  padding: 0;
  &__date {
    color: $color-pink;
    font-size: .7em;
    margin-bottom: $space-small;
    text-transform: uppercase;
  }

  &__title {
    font-size: 1.5em;
  }

  &__desc {
    color: lighten($color-type, 10%);
    font-size: .9em;
  }

  &__post {
    padding: $space-large;
  }

  p:last-child {
    margin-bottom: 0;
  }

  a {
    display: block;
    &:hover {
      background: $color-blue-light;
    }
  }
}
