.m-post {
  padding: 50px 10px;
  li {
    list-style: disc inside;
    margin: 10px 0;
    font-size: 20px;
  }
  &__date {
    font-style: italic;
    color: lighten($color-type, 10%);
    font-size: 15px;
  }
  img {
    margin: 20px 0 0 0;
  }
}