<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{{ page.title | strip_html + page.subtitle | strip_html }}</title>
    <meta property="og:title" content="{{ page.title | strip_html + page.subtitle | strip_html }}" />
    <meta property="og:description" content="a little personal portfolio" />
    <meta property="og:image" content="https://cdn.glitch.global/967cda9a-1c6f-4fda-b966-ae58075fa38e/Frame%203.png?v=1719518425780" />
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="icon" type="image/png" href="/assets/images/fav.png">
    <link rel="alternate" type="application/rss+xml" title="{{ site.name }}" href="{{ site.url }}/feed.xml">
    <link rel="me" href="https://glitch.com/@allypalanzi">
</head>
