---
layout: default
title: Community
subtitle: 'Speaking, teaching, organizing'
page_type: 'community'
---

<ul class="m-post-list">
  {% for community in site.categories.community %}
    <a href="{{ community.link }}">
      <li class="m-post-list__post l-wrap">
        <p class="m-post-list__date">
        {% if community.eventDate %}
          {{ community.eventDate | date: "%B %-d, %Y" }}
        {% else %}
          {{ community.date | date: "%B %-d, %Y" }}
        {% endif %}

        </p>
        <h2 class="m-post-list__title">{{ community.title }}</h2>
        <p class="m-post-list__desc">{{ community.content | strip_html }}</p>
      </li>
    </a>
  {% endfor %}
</ul>
