body {
  color: $color-type;
  font-family: $font-main;
  font-size: 18px;
}

b {
  color: $color-pink;
}

a,
a:visited {
  color: $color-active;
  font-weight: 900;
  text-decoration: none;
  transition: color 200ms, background-color 200ms;
  p {
    font-weight: normal;
  }
}

a:hover {
  color: $color-hover;
  transition: color 200ms, background-color 200ms;
}

h1, h2, h3, h4, h5, h6 {
  color: $color-blue-dark;
  font-family: $font-main;
  font-weight: 900;
  line-height: 1;
  margin-bottom: 8px;
}

a.p-button,
button {
  background: $color-blue-dark;
  color: #fff;
  display: inline-block;
  font-family: $font-main;
  font-size: .7em;
  font-weight: normal;
  letter-spacing: .2px;
  padding: .8em;
  text-transform: uppercase;
  &:hover {
    background-color: $color-main;
  }
}

h1 {
  font-size: 2.5em;
}

h2 {
  font-size: 2em;
  .resume & {
    font-size: 1.5em;
    margin-bottom: 0;
  }
}

h3 {
  border-bottom: 1px solid $color-blue-light;
  font-size: 1.5em;
  font-weight: 400;
  margin: 1em 0 .5em;
}

h4 {
  color: $color-main;
  text-transform: uppercase;
  .resume & {
    margin-top: 2.5em;
    &:first-of-type {
      margin-top: 0;
    }
  }
}

p, li {
  line-height: 1.4;
}

.resume h2 + p {
  margin-bottom: 0;
}

p {
  margin-bottom: 1.2em;
}

em {
  font-style: italic;
  .resume & {
    color: #696767;
    font-size: .9em;
  }
}

strong {
  font-weight: 900;
}

img + em {
  color: lighten($color-type, 10%);
  font-size: .7em;
  font-style: italic;
}

ul {
  margin-left: 20px;
  ul {
    margin-left: 20px;
  }
}

hr {
  border-color: $color-blue-light;
  border-style: solid;
  margin: 1.8em 0;
}

