body {
  color: $color-type;
  font-family: $font-main;
  font-size: 18px;
  font-weight: 300;
}

b {
  color: $color-pink;
}

a,
a:visited {
  color: $color-active;
  font-weight: 900;
  text-decoration: none;
  transition: border 200ms, color 200ms, background-color 200ms;
  p {
    font-weight: normal;
  }
  &:hover {
    color: $color-hover;
    transition: border 200ms, color 200ms, background-color 200ms;
  }
}

h1, h2, h3, h4, h5, h6 {
  color: $color-blue-dark;
  font-family: $font-main;
  font-weight: 900;
  line-height: 1;
  margin-bottom: $space-small;
}

.p-button,
.p-button:visited,
button {
  background: $color-blue-dark;
  color: #fff;
  display: inline-block;
  font-family: $font-main;
  font-size: .7em;
  font-weight: normal;
  letter-spacing: .2;
  padding: .8em;
  text-transform: uppercase;
  &:hover {
    background-color: $color-main;
    color: #fff;
  }
}

h1 {
  font-size: 2.5em;
}

h2 {
  font-size: 2em;
  .resume & {
    font-size: 1.5em;
    margin-bottom: 0;
  }
}

h3 {
  border-bottom: 1px solid $color-blue-light;
  font-size: 1.5em;
  font-weight: 400;
  margin: $space-med 0 $space-small;
}

h4 {
  color: $color-main;
  text-transform: uppercase;
  .resume & {
    margin-top: $space-xlarge;
    &:first-of-type {
      margin-top: 0;
    }
  }
}

p, li {
  line-height: 1.4;
}

.resume h2 + p {
  margin-bottom: 0;
}

p {
  margin-bottom: $space-large;
}

em {
  font-style: italic;
  .resume & {
    color: #696767;
    font-size: .9em;
  }
}

strong {
  font-weight: 900;
}

img + em {
  color: lighten($color-type, 10%);
  font-size: .7em;
  font-style: italic;
  position: relative;
  top: -1.2em;
}

ul {
  margin-left: $space-med;
  ul {
    margin-left: $space-med;
  }
}

hr {
  border-color: $color-blue-light;
  border-style: solid;
  margin: $space-large 0;
}

