@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,900,400italic);

a,
a:visited {
  color: $color-main;
}

a:hover {
  color: $color-hover;
}

p {
  font-size: 22px;
  line-height: 1.4;
  margin: 15px 0;
}

