// Type
$font-main: 'Source Sans Pro', sans-serif;

// Colors
$color-pink: #ff3688;
$color-blue: #0062ff;
$color-blue-light: #e3eeff;
$color-blue-dark: #01193a;

$color-type: #333;
$color-gray: $color-blue-light;

$color-main: $color-pink;
$color-active: $color-blue;
$color-hover: lighten($color-blue, 20%);

// Layout
$content-width: 800px;

// Break Points

$bp-sm: 600px;