// Type
$font-main: -apple-system, BlinkMacSystemFont,
    "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;

// Colors
$color-pink: #ff3688;
$color-blue: #0062ff;
$color-blue-light: #e3eeff;
$color-blue-dark: #01193a;

$color-type: #333;
$color-gray: $color-blue-light;

$color-main: $color-pink;
$color-active: $color-blue;
$color-hover: lighten($color-blue, 20%);

// Layout
$content-width: 800px;
$space-xsmall: .2rem;
$space-small: .4rem;
$space-med: 1rem;
$space-large: 1.3rem;
$space-xlarge: 2.5rem;

// Break Points

$bp-sm: 600px;
