// Type
$font-main: 'Source Sans Pro', sans-serif;

// Colors
$color-pink-1: #7a2848;
$color-pink-2: #882e50;
$color-pink-3: #9f2e59;
$gray: #ccc;

$color-main: $color-pink-2;
$color-active: $color-pink-3;
$color-hover: $gray;

// Layout

$content-width: 800px;