@import '_base/!manifest';
@import 'vars';
@import 'type';
@import 'layout';

@import '_modules/!manifest';

body {
  color: #333;
  font-family: $font-main;
}

iframe {
  margin: 20px auto !important; // _sigh_ to overwrite embeds inline styles
  width: 100%;
}

img {
  width: 100%;
}

