@import '_base/!manifest';
@import 'vars';
@import 'type';
@import 'layout';

@import '_modules/!manifest';

iframe {
  margin: $space-med auto !important; // _sigh_ to overwrite embeds inline styles
  width: 100%;
}

img {
  width: 100%;
}

