---
layout: default
title: Events
subtitle: 'Speaking, teaching, organizing'
page_type: 'events'
---

<ul class="m-post-list">
  {% for event in site.categories.events %}
    <a href="{{ event.link }}">
      <li class="m-post-list__post l-wrap">
        {% for cat in event.cats %}
        <ul class="m-post-list__categories">
          <li class="m-post-list__category"> {{ cat }}</li>
        </ul>
        {% endfor %}
        <p class="m-post-list__date">{{ event.date | date: "%B %-d, %Y" }}</p>
        <h2 class="m-post-list__title">{{ event.title }}</h2>
        <p class="m-post-list__desc">{{ event.content | strip_html }}</p>
      </li>
    </a>
  {% endfor %}
</ul>